
.DS_Store

*.xcuserstate

*.xcscheme

*.plist

cocos2dxtest1/.DS_Store

*.xcbkptlist

*.xcexplist

.DS_Store

iTennisFor2.xcodeproj/project.xcworkspace/xcuserdata/relative.xcuserdatad/UserInterfaceState.xcuserstate
