<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball1.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,947},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>ball2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,893},{19,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>ball3.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,947},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>ball4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,947},{19,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>charge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{117,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,128}}</string>
                <key>sourceSize</key>
                <string>{117,128}</string>
            </dict>
            <key>charge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{117,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,128}}</string>
                <key>sourceSize</key>
                <string>{117,128}</string>
            </dict>
            <key>hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,634},{94,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,128}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,504},{94,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,128}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{90,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,127}}</string>
                <key>sourceSize</key>
                <string>{90,127}</string>
            </dict>
            <key>jump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,764},{90,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,127}}</string>
                <key>sourceSize</key>
                <string>{90,127}</string>
            </dict>
            <key>raqueta.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{236,108}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,108}}</string>
                <key>sourceSize</key>
                <string>{240,110}</string>
            </dict>
            <key>sliderProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{496,18}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{496,18}}</string>
                <key>sourceSize</key>
                <string>{500,26}</string>
            </dict>
            <key>sliderThumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,893},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>sliderTrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,26}}</string>
                <key>sourceSize</key>
                <string>{500,26}</string>
            </dict>
            <key>stay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,255},{77,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,122}}</string>
                <key>sourceSize</key>
                <string>{77,122}</string>
            </dict>
            <key>stay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,131},{77,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,122}}</string>
                <key>sourceSize</key>
                <string>{77,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr.ccz</string>
            <key>size</key>
            <string>{122,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53fdfdd7fb284e8824a37e99d25c2e2d$</string>
            <key>textureFileName</key>
            <string>sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
