<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,241},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>ball2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,229},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>ball3.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,217},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>ball4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,85},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>charge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,28},{59,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,64}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>charge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,28},{59,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,64}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,85},{47,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,64}}</string>
                <key>sourceSize</key>
                <string>{47,64}</string>
            </dict>
            <key>hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{47,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,64}}</string>
                <key>sourceSize</key>
                <string>{47,64}</string>
            </dict>
            <key>jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,151},{45,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>jump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{45,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>raqueta.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{118,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,55}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>sliderProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,17},{248,9}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{248,9}}</string>
                <key>sourceSize</key>
                <string>{250,13}</string>
            </dict>
            <key>sliderThumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>sliderTrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,13}}</string>
                <key>sourceSize</key>
                <string>{250,13}</string>
            </dict>
            <key>stay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,94},{39,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,61}}</string>
                <key>sourceSize</key>
                <string>{39,61}</string>
            </dict>
            <key>stay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,151},{39,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,61}}</string>
                <key>sourceSize</key>
                <string>{39,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb1f3c4986ab196c95fcad57b6364a02$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
